:root {
  --primary: #8447ff;
  --background: #fffcff;
  --dark: #34344a;
}

* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--background);
  color: var(--primary);
}
#submit {
  background-color: var(--primary);
  color: var(--background);
}
